*{box-sizing: border-box;}

html,body{
  width: 100%;
  height: 100%;
}

.application{
  height: 100%;
}

.wrappedItem{
  width: 100%;
  height: 100%;
}

.sideMenu{
  height: 100%;
}

.panelPerso{
  padding: 0;
  height: 100%;
}
